{
 "endOfLine": "lf",
  "printWidth": 120,
  "useTabs": true,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "none",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^[a-z]"],
  "importOrderSeparation": true
}
